<header class="site-header dashed-bottom">
    <a class="site-title" href="/">Almond</a>
    <nav class="site-nav nav-separated">
        <ul>
            <li>
                <a href="/driver">Driver</a>
            </li>
            <li>
                <a href="/pad-driver">Pad Driver</a>
            </li>
            <li>
                <a href="https://github.com/bonettimrc/Almond">Repository</a>
            </li>
        </ul>
    </nav>
</header>