<p>If you are on pc you can use arrows <kbd>&#x2190</kbd><kbd>&#x2191</kbd><kbd>&#x2193</kbd><kbd>&#x2192</kbd> for x
    and y axis, and <kbd>space</kbd> for power</p>
<figcaption>x</figcaption>
<input type="range" min="0" max="180" value="90" id="xSlider" class="full-width slider">
<figcaption>y</figcaption>
<input type="range" min="0" max="180" value="90" id="ySlider" class="full-width slider">
<hr>
<input type="button" class="full-width btn btn-primary" value="false" id="ledButton">