<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body>
    <div class="container">
        <%- include('../partials/header')%>
        <main class="site-main">
            <%- include('../partials/wip')%>
        </main>
    </div>
    <script src="index.js"></script>
</body>
</html>