<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

<body>
    <div class="container">
        <%- include('../partials/header')%>
        <main class="site-main">
            <%- include('../partials/alternative-driver')%>
        </main>
    </div>
    <script src="alternative-driver.js"></script>
</body>

</html>